
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: var(--font-size, 16px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --font-size: 16px;
    --sidebar: 240 6% 97%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-accent: 240 4.8% 93.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-ring: 240 10% 3.9%;
  }
 
  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 5% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 0 0% 98%;
    --sidebar: 240 6% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 20%;
    --sidebar-accent: 240 5% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  ::selection {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
  
  /* Fix for yellow background on autofill */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px hsl(var(--background)) inset !important;
      -webkit-text-fill-color: hsl(var(--foreground)) !important;
      transition: background-color 5000s ease-in-out 0s;
  }
}

